<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64" fixedBottomGap="44">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="todoseventos">
                <i class="material-icons">
                    list
                </i>
                Todos os Eventos
            </a>
           
            <a mat-list-item routerLink="casadeshow">
                <i class="material-icons">
                    add_business
                </i>
                Cadastro de Casa de Show
            </a>
            <a mat-list-item routerLink="evento">
                <i class="material-icons">
                    cake
                </i>
                Cadastro de Eventos
            </a>
            <a mat-list-item routerLink="cliente">
                <i class="material-icons">
                    person_add
                </i>
                Cadastro de Clientes
            </a>
            <a mat-list-item routerLink="ingresso">
                <i class="material-icons">
                    attach_money
                </i>
                Compra de Ingressos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>