<script src="https://kit.fontawesome.com/eafab288ad.js" crossorigin="anonymous"></script>
<mat-toolbar class="footer">
    
    <div class="contatos">
        <div class="contatoTexto" appRed>
           Contato: 
        </div>
        <div class="icones">
            <a href="mailto:hariel96@gmail.com">
            <i class="material-icons v-middle">
                email
            </i></a>
        
            <a target="_blank" href="https://www.linkedin.com/in/hariel-pereira-correia-6b0596148/">
            <i class="material-icons v-middle">
                people
            </i></a>

            <a target="_blank" href="https://github.com/hariel96">
            <i class="material-icons v-middle">
            folder
            </i></a>
        </div>

    </div>
</mat-toolbar>
